.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}
.bgtop{ 
    background-image: url(image/banner-image.png);
    /* background-repeat: no-repeat;    */
    border-radius: 16px;   
}

.nav-new{
    padding-top: 170px;
    margin-top: 50px;
    font-size: 32px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}
.party{
    font-size: 72px;
    color: #fff;
    padding-bottom: 170px;
    max-width: 632px;
    margin: 0 auto;
}

.pp{
    text-align: center;
    font-size: 88px;
    color: #F00;
}
.dd{
    text-align: center;
    font-size: 24px;
    color: #F00;
  
}
.all{
    font-size: 48px;
    text-align: center;
}
.january{
    justify-content: center;
    margin: 0 auto;
}
.tow{
    position: relative;
}
.my-row{

    background-image: url(image/Vectorrr.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    
}
.welcome{
    font-size: 64px;
    color: #fff;
    font-family: "Merriweather";
    margin-left: 100px;
    max-width: 642px;
    padding-top: 126px;
}
.dolar{
    margin-left: 100px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    max-width: 697px;
}
.btn{
    background-color: transparent;
    border: 0;
    margin-left: 100px;
    font-size: 20px;
    color: #fff;
    padding-bottom: 142px;
}
.twozero{
    position: absolute;
    right: 50px;
    top: 65px;
}
.btn:hover{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: #F00;
    border: 0;
    padding: 16px 32px;
    margin-left: 32px;
    margin-top: 48px;
    margin-bottom: 130px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}
.ripo{
    max-width: 1320px;
    height: 282px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom:  120px;
    position: relative;
    top: 120px;
    border-radius: 10px;

}
.place{
    
text-align: center;
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px; 
justify-content: center;
margin: 0 auto;
}
.date{   
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px
}
.time{    
text-align: center;
font-size: 32px;
font-weight: 600;
line-height: 56px;
}
.btn-n{    
 border-radius: 7px;
text-align: center;
font-size: 20px;
font-weight: 700;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
position: relative;
left: 25%;
}
.text-primary{
    color: #F00;
}
.btn-n:hover{
    color: #fff;
    transition: 1s;
    background-color: #F00;
   border-radius: 5px;
}
.container-product{
    width: 100%;    
    max-width: 1320px;
    margin: 0 auto;
    display: flex;flex-wrap: wrap;
    justify-content: center;
    grid-column-end: auto;
    align-content: center;}

.box{
    height: 440px;
    width: 420px;
    margin: 10px;
}
.w-full{
    width: 100%;
    padding: 0; 
    transition: all0.5s;
}
.hello{
    max-width: 1320px;
    height: 500px;
    
}
.group{
    
    justify-content: center;
    margin: 0 auto;
    display: flex;
}

.news{   
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.roman{
    text-align: center;
}
footer{
    
    color: #fff;
    max-width: 1600px;
    height: 609px;
    background-color: black;
    border-radius: 5px;
    padding: 120px 291px;
}
.add{
    
    text-align: right;
    display: block;
    position: relative;
    top: 40px;
}
.p-48{
    padding-bottom: 48px;
}
.bb-1{
    border-bottom: 1px solid;
}
.social{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: end auto;
    align-content: center;
}
.rap-10{
    margin: 10px; 
    justify-content: center;
    display: flex;
    padding: 20px;
    padding-left: 10px;
    margin: 10px;
}
.pic-1{
    margin: 0 auto;
}
.col{
    
}
